.header {
    display: flex;
    margin: .25rem;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-radius: 10px;
    width: 99%;
}

#dark .header {
    background-color: rgb(37, 37, 37); 
    transition-property: background-color;
    transition-duration: .5s;
}

#light .header {
    background-color: rgb(255, 255, 255);
    transition-property: background-color;
    transition-duration: .5s;
}

.header .logos {
    width: 30%;
    min-width: 5rem;
    height: 65%;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.header #logo {
   max-width: 25%;
   max-height: 85%;

    
}

.header #text-logo {
    max-width: 75%;
    max-height: 80%;
}

.header #search-icon {
    position: absolute;
    height: 1.5rem;
    top: 0;
    left: 0;
    padding-left: .45rem;
    padding-top: .45rem;
    z-index: 1;
}

.header input {
    width: 20rem;
    height: 2rem;
    float: right;
    margin-left: 0;
    margin-right: 10rem;
    border-radius: 5px;
    padding-left: 2.3rem;
    padding-top: .2rem;
    color: white;
    cursor: default;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    
}

#dark .header input {
    background-color: rgba(208, 208, 208, 0.654);
    transition-property: background-color;
    transition-duration: .5s;

}

#dark .header form:hover input {
    background-color: rgba(208, 208, 208, 0.54);
    transition-property: background-color;
    transition-duration: .5s;

}

#light .header input {
    background-color: rgba(146, 146, 146, 0.771);
    transition-property: background-color;
    transition-duration: .5s;

}

#light .header form:hover input {
    background-color: rgba(129, 129, 129, 0.897);
    transition-property: background-color;
    transition-duration: .5s;

}

.header input:hover {
    font-size: 1.2rem;
}

.header input:focus {
    background-color: rgba(225, 225, 225, 0.211);
    outline: none;
    font-size: 1rem;

}

.header input::placeholder {
    color: white;
    font-weight: 200;
}

.header form {
    position: relative;
}

.search-bar:focus + .search-box {
    display: block;
    width: 100%;
    position: absolute;
}

.search-box {
    display: none;
}

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    margin: .5rem;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #504dffb3;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #3c3b7c;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    opacity: 1;
    bottom: 12.8px;
    right: 37px;
    font-size: .8rem;
    color: rgb(34, 34, 34);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: relative;
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }

  @media (max-width: 480px) {
    .header {
      height: 8vw;
      width: 98%;
    }

    .header input {
      width: 35vw;
      height: 5vw;
      margin-left: 3vw;
      margin-right: 0;
      padding-left: 2vw;
      font-size: 3vw;
    }

    .header .logos {
      display: none;
    }

    .header #search-icon {
      display: none;
      
    }

    .toggle {
      --width: 9vw;
      --height: calc(var(--width) / 2.5);
  
      position: relative;
      display: inline-block;
      width: var(--width);
      height: var(--height);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: var(--height);
      cursor: pointer;
      margin-right: 0;
    }
  
    .toggle input {
      display: none;
    }
  
    .toggle .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--height);
      background-color: #504dffb3;
      transition: all 0.4s ease-in-out;
    }
  
    .toggle .slider::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--height));
      height: calc(var(--height));
      border-radius: calc(var(--height) / 2);
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      transition: all 0.4s ease-in-out;
    }
  
    .toggle input:checked+.slider {
      background-color: #3c3b7c;
    }
  
    .toggle input:checked+.slider::before {
      transform: translateX(calc(var(--width) - var(--height)));
    }
  
    .toggle .labels {
      position: absolute;
      top: 7px;
      left: 20px;
      width: 100%;
      height: 100%;
      color: #4d4d4d;
      font-size: 12px;
      font-family: sans-serif;
      transition: all 0.4s ease-in-out;
    }
  
    .toggle .labels::after {
      content: '';
      position: absolute;
      opacity: 1;
      bottom: 12.8px;
      right: 37px;
      font-size: .8rem;
      color: rgb(34, 34, 34);
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
      transition: all 0.4s ease-in-out;
    }
  
    .toggle .labels::before {
      content: '';
      position: relative;
      opacity: 0;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
      transition: all 0.4s ease-in-out;
    }
  
    .toggle input:checked~.labels::after {
      opacity: 0;
    }
  
    .toggle input:checked~.labels::before {
      opacity: 1;
    }
  
  }

@media (max-width: 768px) {
  .header {
    height: 8%;
  }

  .header input {
    width: 25vw;
    height: 5vw;
    margin-right: 4vw;
    font-size: 2vw;
  }

  .header input:focus {
    font-size: .5rem;
  }

  .header .logos {
    width: 15%;
    margin-left: 2vw;
  }

  .header #search-icon {
    height: 2vw;
  }

  .toggle {
    --width: 9vw;
    --height: calc(var(--width) / 2.5);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    margin: .5rem;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #504dffb3;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #3c3b7c;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: '';
    position: absolute;
    opacity: 1;
    bottom: 12.8px;
    right: 37px;
    font-size: .8rem;
    color: rgb(34, 34, 34);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: '';
    position: relative;
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }
}